{# @var belegtyp \App\Domain\Enum\Belegtyp #}
{# @var venture \App\Domain\Enum\Venture #}

{% extends 'layout.html.twig' %}

{% form_theme form 'form/tailwind_layout.html.twig' %}

{% block title belegtyp.label() ~ ' - ' ~ venture.label() ~ ' - ' ~ parent() %}

{% block sidebar_content %}
    {{ form_start(form, {attr: {class: 'flex h-[94vh] flex-col divide-y divide-gray-200'}}) }}
        <div class="flex min-h-0 flex-1 flex-col overflow-y-scroll">
            <div class="relative mt-6 flex-1 px-4 sm:px-6 space-y-4">
                {{ form_rest(form) }}
            </div>
        </div>
        <div class="flex flex-shrink-0 justify-end px-4 py-4">
            <div class="flex justify-end space-x-3">
                <button
                    type="submit"
                    name="save"
                    class="inline-flex items-center px-3 py-1.5 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-primary-500 hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 disabled:opacity-60 disabled:cursor-not-allowed"
                >
                    Speichern
                </button>
                <button
                    type="submit"
                    name="save_and_continue"
                    class="inline-flex items-center px-3 py-1.5 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-primary-500 hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 disabled:opacity-60 disabled:cursor-not-allowed"
                >
                    Speichern und weiter
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block content %}
    <div class="xl:pr-[32%]">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-lg font-semibold leading-6 text-gray-900 items-center">
                    {% if belegtyp.icon is not null %}
                        <i class="{{ belegtyp.icon() }} mr-1.5"></i>
                    {% endif %}
                    {{ belegtyp.label }} - {{ entity.id }}
                </h1>
            </div>
        </div>

        <div class="mt-6 -mb-16" style="height: 91vh">
            {{ render_pdf_preview(entity) }}
        </div>
    </div>
{% endblock %}
