{# @var fields \App\Crud\Domain\Value\Field[] #}
{# @var pagination \App\Crud\Domain\Value\Pagination #}
{# @var sortings \App\Crud\Domain\Value\Sorting[] #}
{# @var type \App\Domain\Enum\Belegtyp #}
{# @var venture \App\Domain\Enum\Venture #}

{% extends 'layout.html.twig' %}

{% block title type.label() ~ ' - ' ~ venture.label() ~ ' - ' ~ parent() %}

{% block sidebar %}{% endblock %}

{% block content %}
    <div class="px-4 sm:px-6 lg:px-8 py-6">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-lg font-semibold leading-6 text-gray-900 items-center">
                    {% if type.icon is not null %}
                        <i class="{{ type.icon }} mr-1.5"></i>
                    {% endif %}
                    {{ type.label }}
                </h1>
            </div>
        </div>
        <div class="mt-6 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle">
                    {% if result.hasRows() %}
                        <table class="min-w-full divide-y divide-gray-300">
                            <thead>
                            <tr>
                                {% for field in result.fields %}
                                    {% include 'default/list_header.html.twig' %}
                                {% endfor %}
                                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8">
                                    <span class="sr-only">Aktionen</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200 bg-white">
                            {% for item in result.rows %}
                                <tr>
                                    {% for field in result.fields %}
                                        <td class="{{ loop.first ? 'py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8' : 'whitespace-nowrap px-3 py-4 text-sm text-gray-500' }}">
                                            {% include 'default/types/field.html.twig' %}
                                        </td>
                                    {% endfor %}
                                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 lg:pr-8">
                                        <a href="{{ path(constant('App\\Routing\\Routes::EDIT'), {venture: venture.value, type: type.value, letterId: item.id}) }}"
                                           class="text-primary-600 hover:opacity-80">Bearbeiten</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="text-center">
                            <img
                                src="{{ asset('build/images/no_results.png') }}"
                                alt="Keine Ergebnisse gefunden"
                                class="mx-auto"
                                width="100px"
                                height="100px"
                            />
                            <h3 class="mt-2 text-sm font-semibold text-gray-900">Keine Ergebnisse vorhanden.</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if pagination.totalItems > pagination.limit %}
        {% include 'default/pagination.html.twig' %}
    {% endif %}
{% endblock %}
