{% extends 'layout.html.twig' %}

{% block title  'Datei hochladen - ' ~ parent() %}

{# @TODO: move to twig.yaml when old code is gone. #}
{% form_theme form 'form/tailwind_layout.html.twig' %}

{% block content %}
    <h2 class="text-3xl font-bold tracking-wide">Datei Hochladen</h2>

    <div class="max-w-3xl mt-12">
        {{ form_start(form, {attr: {class: 'space-y-4'}}) }}
 <div>
 {{ form_errors(form) }}
 </div>

        {{ form_row(form.file) }}
        <div class="grid grid-cols-2 gap-x-4">
            {{ form_row(form.inbox_date) }}
            {{ form_row(form.group) }}
        </div>
        <div class="pt-12">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
